@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  width: 70px !important;
  border-radius: 10px !important;
}

.swiper-button-prev {
  margin-left: 65rem;
  background: rgb(00, 00, 00, 0.2);
  padding: 30px;
  color: #fff;
}
.swiper-button-next {
  margin-right: 15rem;
  background: rgb(00, 00, 00, 0.2);
  padding: 30px;
  color: #fff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border: 1px solid #000 !important;
  transition: 1500ms;
}

body {
  margin: 0;
  /* font-family: 'Almarai', sans-serif; */
  font-family: 'Montserrat Variable', sans-serif;
}

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #214f4c;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
}
section {
  padding: 60px 0px;
}

.active_link {
  font-weight: 900;
  color: #4a87f9;
  padding: 0 10px;
}

.sticky_header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
}
.profileActions {
  position: absolute;
  top: 170%;
  width: 150px;
  z-index: 10;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
  cursor: pointer;
}
.showProfileAction {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(00, 00, 00, 0.53);
    z-index: 999;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active_menu {
    display: block;
  }

  .mobile_menu {
    display: block;
  }
}
